<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <rewrite>
      <rules>
        <!-- Requires IIS URL Rewrite + Application Request Routing if using same-domain API proxy. -->
        <rule name="QIB DotNet API Proxy" stopProcessing="true">
          <match url="^api/dotnet/v1/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8088/api/dotnet/v1/{R:1}" />
        </rule>
        <rule name="QIB DotNet OpenAPI Proxy" stopProcessing="true">
          <match url="^swagger/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8088/swagger/{R:1}" />
        </rule>
        <rule name="React SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
